// 
//  config file for global styles, variables, sizes, fonts, etc. 
//


$black: #000000;
$black-light: #323232;
$gray: #6f6f6f;
$green: #007e77;
$purple: #746dcf;
$gray-heading: #525251;
$gray-body: #323232;
$grady-100: #e6e6e5;