// 
//  config file for global styles, variables, sizes, fonts, etc. 
//


$black: #000000;
$black-light: #323232;
$gray: #6f6f6f;
$green: #007e77;
$green-light: #a8c23f;
$fuscia: #6bbdb7;
$pink: #ea5b87;
$purple: #746dcf;
$grady-100: #e6e6e5;
$gray-200: #525251;
$gray-300: #bebebe;
$gray-body: #323232;
$gray-bg: #E5E5E5;
$white: #ffffff;