.sr-only {
  @include sr-only();
}

.clearfix {
  @include clearfix();
}

.skip-link{left:-9999rem;top:2.5rem;z-index:999999999;text-decoration:underline}
.skip-link:focus{display:block;left:6px;top:7px;font-size:14px;font-weight:600;text-decoration:none;line-height:normal;padding:15px 23px 14px;z-index:100000;right:auto}
.visually-hidden:not(:focus):not(:active), .form-allowed-tags:not(:focus):not(:active){position:absolute !important;height:1px;width:1px;overflow:hidden;clip:rect(1px 1px 1px 1px);clip:rect(1px, 1px, 1px, 1px);white-space:nowrap}

.pt-sans-narrow-regular {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-narrow-bold {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.hexagon {
  display: inline-block;
  position: relative;
  padding: 0 20px;

  &::before {
    content: '';
    background: transparent url('./images/hexagon-icon.svg') center no-repeat;
    background-size: contain;
    width: 13px;
    height: 12px;
    display: inline-block;
    position: absolute;
    bottom: 33%;
    left: -5px;
  }

  &::after {
    content: '';
    background: transparent url('./images/hexagon-icon.svg') center no-repeat;
    background-size: contain;
    width: 13px;
    height: 12px;
    display: inline-block;
    position: absolute;
    bottom: 33%;
    right: -5px;
  }
}

.p-0 {
  padding: 0;
}

// To-do: Remove
.p-50 {
  padding-top: 50px; 
}

.mb-4 {
  margin-bottom: toRem(16);
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: left;
}

.text-end {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.border-bottom-dotted {
  border-bottom: 1px dashed #000;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-20 {
  padding: 20px;
}

.pb-10 {
  padding-bottom: 10px;
}

.fw-bold {
  font-weight: bold;
}

.m-0 {
  margin: 0;
}

.mb-70 {
  margin-bottom: 70px;
}

.main-container {
   box-shadow: -5px 0 5px -5px rgba(115,115,115,0.65),
                5px 0 5px -5px rgba(115,115,115,0.65);
}

img {
  max-width: 100%;
  height: auto;
}