.bg {
    &-black {
        background-color: $black;

        &-light {
            background-color: $black-light;
        }
    }

    &-gray {
        &-100 {
            background-color: $grady-100;
        }
    }

    &-fuscia {
        background-color: $fuscia;
    }

    &-pink {
        background-color: $pink;
    }

    &-green {

        &-light {
            background-color: $green-light;
        }
    }

    &-white {
        background-color: $white;;
    }

}