h1, .h1 {
    font-size: toRem(36);
}

h2, .h2 {
    font-size: toRem(30);
}

h3, .h3 {
    font-size: toRem(24);
}

h4, .h4 {
    font-size: toRem(20);
}

h5, .h5 {
    font-size: toRem(16);
}

h6, .h6 {
    font-size: toRem(14);
}

.fs-body-small {
    font-size: toRem(14);
}