.header {
    &-preheader {
        height: toRem(30);
        
        &-social {
            padding-top: toRem(3);
        }

        .language-selector {
            &-anchor {
                color: $gray;

                &.active {
                    color: $white;
                }
            }
        }
    }

    &-search {

        &-input {
            background: transparent url('./images/icons/lens.svg') 97% center no-repeat;
            background-size: 12px;
            padding-right: 20px;
            height: toRem(20);
            border: toRem(1) solid $gray;
        }

        &-button {
            overflow: hidden;
            display: inline-block;
            background-color: $gray;
            color: $white;
            font-size: toRem(12);
            border: toRem(1) solid $gray;
            height: toRem(20 );
            margin-left: -5px;
            top: -1px;
            cursor: pointer;
            position: relative;
        }
    }

    &-branding {
        height: toRem(160);
        &-bg {
            background: transparent url('./images/header-bg.jpg') center no-repeat;
            background-size: cover;
        }

        &-secondary {
            background: transparent url('./images/logo-secondary.png') center no-repeat;
            background-size: auto;
            width: toRem(253);
            height: toRem(130);
        }
    }
}