.header {
    &-preheader {
        height: toRem(30);
        
        &-social {
            padding-top: toRem(3);
        }

        .language-selector {
            &-anchor {
                color: $gray;

                &.active {
                    color: $white;
                }
            }
        }
    }

    &-search {

        &-input {
            background: transparent url('./images/icons/lens.svg') 97% center no-repeat;
            background-size: 12px;
            padding-right: 20px;
            height: toRem(20);
            border: toRem(1) solid $gray;
        }

        &-button {
            overflow: hidden;
            display: inline-block;
            background-color: $gray;
            color: $white;
            font-size: toRem(12);
            border: toRem(1) solid $gray;
            height: toRem(20 );
            margin-left: -5px;
            top: -1px;
            cursor: pointer;
            position: relative;
        }
    }

    &-branding {
        height: auto;

        @media (min-width: $lg) {
            height: toRem(160);
        }
        
        &-logo {
            img {
                max-height:100%;

                @media (min-width: $lg) {
                    max-height: toRem(140);
                }
            }
        }

        &-bg {
            background: transparent url('./images/header-bg.jpg') center no-repeat;
            background-size: cover;
        }

        &-description {
            line-height: 110%;
            color: $dark-blue;
            font-size: toRem(18);

            @media (min-width: $sm) {
                font-size: toRem(30);
            }
            
            @media (min-width: $lg) {
                font-size: toRem(36);
            }
        }

        &-secondary {
            width: 100%;
            height: 80px;

            @media (min-width: $sm) {
                height: 100%;
            }

            img {
                max-width: unset;
                max-height: 100%;
                height: unset;
                width: auto;
            }
        }
    }
}