#mega-menu-wrap-main-menu {
  position: relative;

  &,
  & .mega-menu-toggle,
  & .mega-menu-toggle + #mega-menu-main-menu {
    background-color: $gray-100;
  }

  #mega-menu-main-menu {
    display: flex;

    & > li.mega-menu-item {
      border-bottom: 6px solid $black-light;
      position: unset;
      @media (min-width: $md) {
        flex: 1;
        display: flex;
        height: toRem(60);
      }

      & > a.mega-menu-link {
        
        @media (min-width: $md) {
          text-align: center;
          height: 100%;
          line-height: 110%;
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
        }

        &:hover {
          background-color: transparent;
        }
      }

      &.mega-current-menu-item,
      &.mega-current-menu-ancestor {
        a.mega-menu-link {
          background-color: transparent;
        }
      }

      &.homepage {
        flex: 0 0 60px;
        background: transparent url("./images/icons/house.png") center no-repeat;
        background-size: toRem(30) auto;
        padding-left: 15px;
        padding-right: 15px;

        a.mega-menu-link {
          overflow: hidden;
          color: transparent !important;
        }
      }

      &:nth-child(2) {
        border-color: $blue-100;

        &.mega-toggle-on {
          > a.mega-menu-link {
            background: $blue-100 !important;
          }
        }

        > a.mega-menu-link:hover {
          background: $blue-100 !important;
        }

        & > ul.mega-sub-menu {
          background: $blue-100 !important;
        }
      }

      &:nth-child(3) {
        border-color: $pink;

        &.mega-toggle-on {
          > a.mega-menu-link {
            background: $pink !important;
          }
        }

        > a.mega-menu-link:hover {
          background: $pink !important;
        }

        & > ul.mega-sub-menu {
          background: $pink !important;
        }
      }

      &:nth-child(4) {
        border-color: $fuscia;

        &.mega-toggle-on {
          > a.mega-menu-link {
            background: $fuscia !important;
          }
        }

        > a.mega-menu-link:hover {
          background: $fuscia !important;
        }

        & > ul.mega-sub-menu {
          background: $fuscia !important;
        }
      }

      &:nth-child(5) {
        border-color: $purple;

        &.mega-toggle-on {
          > a.mega-menu-link {
            background: $purple !important;
          }
        }

        > a.mega-menu-link:hover {
          background: $purple !important;
        }

        & > ul.mega-sub-menu {
          background: $purple !important;
        }
      }

      &:last-child {
        border-color: $yellow;

        &.mega-toggle-on {
          > a.mega-menu-link {
            background: $yellow !important;
          }
        }

        > a.mega-menu-link:hover {
          background: $yellow !important;
        }

        & > ul.mega-sub-menu {
          background: $yellow !important;
        }
      }

      & > ul.mega-sub-menu {
        top: 59px;
        width: 100%;
        left: 0;
        right: 0;
        padding: 30px !important;

        & > li.mega-menu-item {
          margin: 10px 0;
          // display: inline-block !important;
          // width: 25% !important;
          // vertical-align: top;
        }

        .mega-menu-link {
          background: none !important;
          display: inline-block !important;
          color: $white !important;
          text-transform: uppercase !important;
          white-space: break-spaces !important;
          line-height: 120% !important;
          padding-right: 20px!important;

          &::before {
            content: "";
            background: transparent url("./images/hexagon-icon-white.svg") center
              no-repeat;
            background-size: contain;
            width: 12px;
            height: 11px;
            display: inline-block;
            position: absolute;
            bottom: 33%;
            left: -5px;
          }

          &:hover {
            color: $black-light !important;

            &::before {
            content: "";
            background: transparent url("./images/hexagon-icon-black.svg") center
              no-repeat;
            background-size: contain;
            width: 12px;
            height: 11px;
            display: inline-block;
            position: absolute;
            bottom: 33%;
            left: -5px;
          }
          }
        }
      }
    }
  }

  .mega-menu-link {
    color: $gray-body !important;
    font-weight: bold !important;
  }

  .mega-menu-item.mega-toggle-on,
  .mega-menu-item:hover {
    & > .mega-menu-link {
      color: #fff !important;
    }
  }

  .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner {
    &, 
    &::after,
    &::before {
      background-color: $black-light;
    }

  }
}
