.sidebar {
    &-links {
        padding-top: toRem(50);
        padding-left: toRem(20);

        &-anchor {
            height: toRem(100);
            line-height: toRem(100);
            display: flex;
            align-items: center;
            margin-bottom: toRem(20);
            color: $gray-200;
            font-size: toRem(18);
            padding: toRem(15) toRem(25);

            &::before {
                content: '';
                display: inline-block;
                border-radius: 50px;
                background: #fff url('./images/icons/inscriptions.png') center center no-repeat;
                background-size: toRem(45);
                width: toRem(70);
                height: toRem(70);
            }

            &-span {
                padding-left: toRem(10);
            }

            &:nth-of-type(2) {
                &::before {
                    background: #fff url('./images/icons/ent.png') center center no-repeat;
                    background-size: toRem(45);
                }
            }

            &:nth-of-type(3) {
                &::before {
                    background: #fff url('./images/icons/hhrr.png') center center no-repeat;
                    background-size: toRem(45);
                }
            }

            &:nth-of-type(4) {
                &::before {
                    background: #fff url('./images/icons/cdi.png') center center no-repeat;
                    background-size: toRem(35) auto;
                }
            }
        }
        
    }
}