.sidebar {
    &-special {
        @media (max-width: $lg) {
            margin-bottom: 30px;
        }

        @media (min-width: $lg) {
            padding-top: toRem(50);
            padding-left: toRem(20);
        }

        &-calendar {
            padding: toRem(30);
            background-color: $light-blue;
            
            &-heading {
                position: relative;
                padding-top: toRem(35);
                &::before {
                    content: '';
                    background: transparent url('./images/icons/calendar-special.png') no-repeat center;
                    background-size: contain;
                    display: inline-block;
                    width: toRem(30);
                    height: toRem(30);
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }
            }
        }

        &-platform {
            margin-top: toRem(30);
            display: block;
            color: $blue;
            padding-right: 30px;
            border-bottom: 1px solid $blue;
            position: relative;

            &::after {
                content: '';
                background: transparent url('./images/icons/padlock.png') no-repeat center;
                background-size: contain;
                height: toRem(25);
                width: toRem(25);
                display: inline-block;
                position: absolute;
                right: 0;
            }
        }
    }

    &-boxes {
        
        @media (min-width: $lg) {
            padding-left: toRem(20);
        }

        &-list {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        &-item {
            a {
                height: toRem(100);
                line-height: toRem(100);
                display: flex;
                align-items: center;
                margin-bottom: toRem(20);
                color: $gray-200;
                font-size: toRem(18);
                padding: toRem(15) toRem(25);
                @extend .bg-gray-100;
                @extend .pt-sans-narrow-bold;

                &::before {
                    background: #fff url('./images/icons/inscriptions.png') center center no-repeat;
                    background-size: toRem(45) auto;
                    content: '';
                    display: inline-block;
                    border-radius: 50px;
                    width: toRem(70);
                    height: toRem(70);
                }
            }

            &.inscription a {
                &::before {
                    background: #fff url('./images/icons/inscriptions.png') center center no-repeat;
                    background-size: toRem(45) auto;
                    content: '';
                    display: inline-block;
                    border-radius: 50px;
                    width: toRem(70);
                    height: toRem(70);
                }
            }

            &.computer a {
                &::before {
                    background: #fff url('./images/icons/ent.png') center center no-repeat;
                    background-size: toRem(45) auto;
                    content: '';
                    display: inline-block;
                    border-radius: 50px;
                    width: toRem(70);
                    height: toRem(70);
                }
            }

            &.pronote a {
                &::before {
                    background: #fff url('./images/icons/pronote.png') center center no-repeat;
                    background-size: toRem(50) auto;
                    content: '';
                    display: inline-block;
                    border-radius: 50px;
                    width: toRem(70);
                    height: toRem(70);
                }
            }

            &.hhrr a {
                &::before {
                    background: #fff url('./images/icons/hhrr.png') center center no-repeat;
                    background-size: toRem(45) auto;
                    content: '';
                    display: inline-block;
                    border-radius: 50px;
                    width: toRem(70);
                    height: toRem(70);
                }
            }

            &.cdi a {
                &::before {
                    background: #fff url('./images/icons/cdi.png') center center no-repeat;
                    background-size: toRem(45) auto;
                    content: '';
                    display: inline-block;
                    border-radius: 50px;
                    width: toRem(70);
                    height: toRem(70);
                }
            }
        }

        &-span {
            padding-left: toRem(10);
            line-height: 100%;
            text-transform: uppercase;
        }
    }

    &-actualites {
        &-heading {
            background-color: $gray-100;
            color: $gray-400;

            &-tag {
                background: transparent url('./images/icons/sidebar-heading-icon.png') left center no-repeat;
                padding-left: 45px;
                font-size: toRem(16);
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        &-content-heading {
            margin-bottom: 5px;
        }

        &-permalink {
            &-anchor {
                font-family: "Times New Roman", Times, serif;
                line-height: 0;
                font-size: toRem(50);
            }
        }
    }

    &-social {
        background: transparent url('./images/icons/feed.svg') left toRem(7) no-repeat;
        background-size: toRem(15) auto;
        padding-left: toRem(20);
        margin-left: toRem(20);
        
        &-wrapper {
            background-color: $gray-body;
            padding: toRem(20) 0;
            margin-bottom: toRem(20);
            
            @media (min-width: $lg) {
                margin-left: toRem(20);
            }
        }

        &-heading {
            color: $gray;
            font-size: 1.25rem;
            text-transform: uppercase;
        }
    }
}