.text {
    &-gray {
        color: $gray;

        &-body {
            color: $gray-body
        }
        &-200 {
            color: $gray-200;
        }
    }

    &-green {
        color: $green;
        &-light {
            color: $green-light;
        }
    }

    &-fuscia {
        color: $fuscia;
    }

    &-black {
        color: $black;
    }

    &-pink {
        color: $pink;
    }

    &-white {
        color: $white;
    }

    &-red {
        color: $red;
    }

    &-blue {
        color: $blue;

        &-dark {
            color: $dark-blue;
        }
    }
}